html {
	overflow:hidden;
}
body {
	height:110%;
	width:100%;
	background-color:#cccccc;
	position:absolute;
	bottom:0px;
	margin:0px;
	overflow:hidden;
}
h2{
	font-family:sans-serif; 
	text-transform:uppercase; 
	font-size:300px; 
	line-height:180px; 
	position:relative; 
	top:0px; 
	left:0px;
	color:#ffffff; 
	opacity:.1;
	transform: rotate(270deg);
	height:1px;
	width:1px;
	overflow:visible;
}
h1{
	font-family:sans-serif; 
	text-transform:uppercase; 
	position:absolute;
	top:60px;
	font-size:6vw; 
	line-height:70px; 
	color:#ffffff; 
	opacity:.8;
	height:1px;
	width:1px;
	overflow:visible;
}
picture{
	height:1px;
	width:1px; 
	overflow:visible;
}
.placename, .placerelation{
    min-height:45px;
}
article{
	position:absolute;
	bottom:0px;
	right:0px;
	width:45vw;
	padding:30px;
	background:#ffffff;
	min-height:80vh;
}
section.slidenav{
	margin-top:20px;
	margin-right:20px;
	float:right;
}
section.slidenav span{
	/*This is a grayed-out nav option.*/
	color:#cccccc;
}
iframe#map{
	border:1px #cccccc solid;
	float:right;
}
.description{
    height:200px;
    overflow-y:auto; 
}
section#map iframe{
	height:185px;
	width:185px;
}
@media (max-width: 800px){
html {
	overflow:auto;
	width:100vw;
}
body {
	height:100%;
	width:100%;
	background-color:#ffffff;
	position:auto;
	bottom:auto;
	margin:auto;
	overflow:auto;
	overflow-x:hidden;
}
 article {
	width:100%;
	left:0px;
	top:0px;
	position:absolute;
	padding:50px;
	height:auto;
 }
 section{
	max-width:85%; 
	margin-right:100px;
 }
 section#placerelation{
	border-bottom:1px dotted #cccccc;
	margin-bottom:30px;
 }
 section.slidenav{
	float:left; 
	margin-bottom:60px;
 }
 section.description{
	height:auto;
	background:#ffffff;
 }
 section#map{
	 position: relative;
	 top: -50px;
	 left: -50px;
	 width: 100vw;
	 height: 185px;
	 clear: both;
	 display: block; 
	 max-width:unset;
 }
 section#map iframe{
	 height: 180px;
	 width: 100vw;
	 overflow: auto; 
 }
 picture{
	display:none; 
 }
}
